numpy
Cython
h5py==2.10
Pillow
six
scipy
opencv-python
matplotlib
tb-nightly
future
yacs
gdown
flake8
yapf
isort
imageio
tensorflow
tensorflow-gpu
scikit-learn
torch
torchvision
keras
streamlit
subprocess
torchvision
cudatoolkit
pytorch
